body {
  	margin: 20px auto;

  	background: url(/static/images/noisy_grid.png);
}

.container {
	border: lightGrey solid 1px;
	border-radius: 5px;
	overflow: hidden;

	background-color: #fff;

  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
     -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
}

#header, #footer {
  	color: #fff;
  	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  	padding: 8px 16px;

	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fbb450), to(#f89406));
	background-image: -webkit-linear-gradient(top, #fbb450, #f89406);
	background-image: -o-linear-gradient(top, #fbb450, #f89406);
	background-image: linear-gradient(to bottom, #fbb450, #f89406);
	background-image: -moz-linear-gradient(top, #fbb450, #f89406);
	background-repeat: repeat-x;
	border-color: #f89406 #f89406 #ad6704;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:dximagetransform.microsoft.gradient(startColorstr='#fffbb450', endColorstr='#fff89406', GradientType=0);
	filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}

#content {
	padding: 16px;
}

#footer a {
	color: #000;
}

#footer-copyright {
	text-align: right;
	padding: 5px 30px;
}

#preview-span {
	margin-left: 0px;
}

#preview-holder {
	text-align: center;
	padding-right: 16px;
}
