{% extends 'base.html' %}

{% block title %}About - {% endblock %}

{% block content %}
		<div class="row">
			<div class="span12">
				<h2>About</h2>
				<p>This website is designed as a service to assist you in quick creation of the screenshots wrapped in predefined gadget or webbrowser border.</p>
				<p>Currently the number of gadgets and tools is quite limited, but you can use the feedback button on the left to add or vote for the one you are missing.</p>
				<h2>Privacy</h2>
				<p>We do not store any information about you. The screenshot files you upload and the resulting wrapped output files are stored on our side no longer than 2 hours. So please <strong>do not hotlink</strong> to them - they expire very soon.</p>
				<h2>Technology</h2>
				<p>This webside is proudly powered by <a href="http://python.org/" title="Python">Python</a> and <a href="https://developers.google.com/appengine/" title="Google App Engine">Google App Engine</a>. <!--Web design and programming by <a href="http://www.skoll.com.ua/" title="Skoll Technologies">Skoll Technologies</a>.--></p> 
			</div>
		</div>
{% endblock %}
