{% extends 'base.html' %}

{% block content %}
		<div class="row">
			<div class="span4">
				<form action="{{ upload }}" id="upload-form" accept-charset="utf-8" method="POST" enctype="multipart/form-data">
					<label>Border for: <br>
						<select name="flavor" class="span4">
							<option value="safari">Safari</option>
							<option value="nexusone">Google Nexus One</option>
							<option value="ipad2">iPad 2 (black)</option>
						</select>
					</label>

					<label for="screenshot">Screenshot file:</label>
					<input type="file" name="screenshot" id="screenshot" style="display: none;" />
						<div class="input-append">
							<input id="screenshot-ui" class="input-large" type="text" disabled />
							<a class="btn" onclick="$('input[id=screenshot]').click();">Browse</a>
						</div>
					
					<hr>
					<input type="submit" name="post" value="Thumbalize!" class="btn btn-warning btn-large pull-right" />
				</form>
			</div>
			<div class="span1">
				<div id="arrow" style="text-align: center;">
					<h2>&rarr;</h2>
				</div>
			</div>
			<div class="span7" id="preview-span">
				<div id="preview-holder">
					<h2>Your wrapped screenshot will appear here!</h2>
				</div>
			</div>
		</div>

{% endblock %}

{% block js %}
	<script src="http://yandex.st/jquery/form/3.14/jquery.form.js" type="text/javascript" charset="utf-8"></script>

	<script type="text/javascript">
	function processJson(data){
	     $("#preview-holder").html($("<img />").attr("src", data["preview"]));

		$('#upload-form').ajaxForm({ 
        	dataType: 'json', 
        	success: processJson,
        	url: data.upload,
    	});
	}

	$(document).ready(function() {
		$('#screenshot').change(function() {
		   $('#screenshot-ui').val($(this).val());
		});


		$('#upload-form').ajaxForm({ 
        	dataType: 'json', 
        	success: processJson,
    	});
	});
	</script>
{% endblock %}
