{% extends 'base.html' %}

{% block content %}
		<div class="row">
			<div class="span4">
				<form action="{{ upload }}" id="upload-form" accept-charset="utf-8" method="POST" enctype="multipart/form-data">
					<label>Border for: <br>
						<select name="flavor" class="span4">
							<option value="safari">Safari</option>
							<option value="nexusone">Google Nexus One</option>
							<option value="ipad2">iPad 2 (black)</option>
						</select>
					</label>

					<label>Fit: </label>
					<input type="hidden" id="fit" name="fit" value="none">
					<div class="btn-group" id="fit-group" data-toggle="buttons-radio">
					  <span class="btn btn-small active" data-fit="none">Stretch</span>
					  <span class="btn btn-small" data-fit="all">Max side</span>
					  <span class="btn btn-small" data-fit="width">Width</span>
					  <span class="btn btn-small" data-fit="height">Height</span>
					</div>
					<br>

					<label for="screenshot">Screenshot file:</label>
					<input type="file" name="screenshot" id="screenshot" style="display: none;" />
						<div class="input-append">
							<input id="screenshot-ui" class="input-large" type="text" disabled />
							<a class="btn" onclick="$('input[id=screenshot]').click();">Browse</a>
						</div>
					
					<hr>
					<input type="submit" name="post" value="Thumbalize!" class="btn btn-warning btn-large pull-right" />
				</form>
			</div>
			<div class="span1">
				<div id="arrow" style="text-align: center;">
					<h2>&rarr;</h2>
				</div>
			</div>
			<div class="span7" id="preview-span">
				<div id="progress">
					<h2>Processing image...</h2>
					<br>
					<img src="/static/images/ajax-loader.gif" alt="Processing image...">
				</div>
				<div id="preview-holder">
					<h2>Your wrapped screenshot will appear here!</h2>
				</div>
			</div>
		</div>

{% endblock %}

{% block js %}
	<script src="http://yandex.st/jquery/form/3.14/jquery.form.js" type="text/javascript" charset="utf-8"></script>

	<script type="text/javascript">
	var linksTemplate = '<br> \
	<a class="badge badge-warning" href="%IMAGE%=s160"  target="_blank">160px</a> \
	<a class="badge badge-warning" href="%IMAGE%=s320"  target="_blank">320px</a> \
	<a class="badge badge-warning" href="%IMAGE%=s512"  target="_blank">512px</a> \
	<a class="badge badge-warning" href="%IMAGE%=s800"  target="_blank">800px</a> \
	<a class="badge badge-warning" href="%IMAGE%=s1024" target="_blank">1024px</a> \
	<a class="badge badge-warning" href="%IMAGE%=s0" target="_blank">Original</a> \
	';

//	<a class="badge" rel="tooltip" data-placement="bottom" title="Available only for premium users" href="#">1024px</a> \
//	<a class="badge" rel="tooltip" data-placement="bottom" title="Available only for premium users" href="#">Original</a> \

	function beforeSubmit() {
		$('#preview-holder').html("");
	    $("#progress").show();
	}

	function processError() {
	     $("#progress").hide();
	     $("#preview-holder").html($("<h2 />").text("Error occured while processing your image. Probably your image is too large."));
	}

	function processJson(data){
	    $("#progress").hide();
	    $("#preview-holder").html("")
	    	.append($("<img />").attr("src", data["preview"]))
	    	.append(linksTemplate.replace(/%IMAGE%/g, data["preview"]));

		//$('a[rel=tooltip]').tooltip();

		$('#upload-form').ajaxForm({ 
        	dataType: 'json', 
        	beforeSubmit: beforeSubmit,
        	error: processError,
        	success: processJson,
        	url: data.upload,
    	});
	}

	$(document).ready(function() {
		$('#screenshot').change(function() {
		   $('#screenshot-ui').val($(this).val());
		});

		$('#upload-form').ajaxForm({ 
        	dataType: 'json', 
        	beforeSubmit: beforeSubmit,
        	error: processError,
        	success: processJson,
    	});

		$("#fit-group span").click(function() {
			$("#fit").val($(this).data("fit"));
		});		
	});
	</script>
{% endblock %}
